#color-palette {
    padding: 1px;
}
.board-container{
    padding: auto;
}
.color {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid black;
}

#color1 {
    background-color: black;
}
#color2 {
    background-color: blue;
}
#color3 {
    background-color: red;
}
#color4 {
    background-color: yellow;
}

/* Grid */

#pixel-board{
    display: grid  ;
    padding: 0px;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 40px);
    margin-top: 10px;
}

.pixel{
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

.selected {
    box-shadow: 1px 1px black;
}

.selectedColor{
    background-color: white;
}